<% "TODO: в данной версии корзины мы не выводим количество заказанного товара. Это неудобно для пользователя." %>

<table class="table table-condensed">
  <thead>
    <th><%= I18n.t("goods.table.good_name") %></th>
    <th><%= I18n.t("goods.table.price") %></th>
    <th></th>
  </thead>
  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= good.name %></td>
        <td><%= good.price %></td>
        <td><%= link_to(I18n.t("goods.table.remove"), cart_path(good_id: good.id), method: "DELETE") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% "TODO: блок с формой стоит вынести в отдельную View, так как он не относится напрямую к таблице" %>

<%= form_tag proceed_cart_path, class: "well", method: "POST" do %>
  <div class="form-group">
    <label for="user_email">Email</label>
    <%= email_field_tag('user_email', nil, class: 'form-control', placeholder: 'Email') %>
  </div>
  <div class="form-group">
    <label for="user_phone"><%= I18n.t('cart.user.phone') %></label>
    <%= text_field_tag 'user_phone', '', class: 'form-control', placeholder: I18n.t('cart.user.phone') %>
  </div>
  <div class="form-group">
    <label for="user_address"><%= I18n.t('cart.user.address') %></label>
    <%= text_field_tag 'user_address', '', class: 'form-control', placeholder: I18n.t('cart.user.address') %>
  </div>

  <%= button_tag(type: 'submit', class: 'btn btn-default') do
     content_tag(:span, I18n.t("cart.send_order"))
  end %>
<% end %>
