<h2><%= I18n.t('cart.title') %></h2>

<% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

В вашей корзине <%= OnlineCart.ids(session: session).count %>  <%= localize_goods(OnlineCart.ids(session: session).count) %>.

<% if OnlineCart.ids(session: session).count > 0 %>
  <% "TODO: Здесь мы используем отдельную копию partial-view для отображения таблицы с товарами. На данный момент единственная разница между partial-view из папки goods и папки carts в столбце со ссылками (добавить в корзину / удалить из корзины). Пока отличия небольшие, для упрощения нашего проекта лучше объеденить эти два partial-view в один." %>
  <%= render "table" %>
<% end %>
