<% "TODO: в данной версии нашего интернет магазина мы не показывает страницу с товаром. Это не удобно для пользователя." %>

<table class="table table-condensed">
  <thead>
    <th><%= I18n.t("goods.table.good_name") %></th>
    <th><%= I18n.t("goods.table.price") %></th>
    <th><%= I18n.t("goods.table.is_available") %></th>
    <th></th>
  </thead>
  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= good.name %></td>
        <td><%= good.price %></td>
        <td><%= I18n.t("goods.table.#{good.available? ? 'available' : 'not_available'}") %></td>
        <% "TODO: Строчка 15 слишком сложная. Имеет смысл вынести данный код в helper-метод и поместить его, например в app/helpers/goods_helper.rb Это избавит данный view от лишней логики и разделит работу backend и frontend разработчиков" %>
        <td><%= OnlineCart.has_good?(good_id: good.id, session: session) ? link_to(I18n.t("goods.table.in_cart"), cart_path) : link_to(I18n.t("goods.table.add_to_cart"), cart_path(good_id: good.id), method: 'POST') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
