<h3>Доступные товары</h3>

<div>
  <%= link_to "Добавить товар", new_admin_good_path %>
</div>

<table class="goods-table">
  <thead>
    <th>Товар</th>
    <th>Цена</th>
    <th>Количество</th>
    <th></th>
  </thead>
  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= good.name %></td>
        <td><%= good.price %></td>
        <td><%= good.amount %></td>
        <td>
          <%= link_to "Удалить", admin_good_path(id: good.id) %>
          | <%= link_to "Редактировать", edit_admin_good_path(id: good.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
