<div class="page-header">
  <h1><%= link_to(t('layout.header.title'), root_path) %></h1>
  <h5><%= t('layout.header.slogan') %></h5>
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="SuperOnlineShop" src="<%= asset_path 'favicon24.png' %>" width="20">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= (current_page?(root_path) || current_page?(goods_path)) ? 'active' : '' %>"><%= link_to t('layout.footer.main_page'), goods_path %></li>

        <% "TODO: Нет смысла показывать ссылку на корзину, если в ней нет ни одного товара" %>
        <li class="<%= current_page?(cart_path) ? 'active' : '' %>"><%= link_to(t('layout.header.cart'), cart_path) %></li>

        <% if current_user && current_user.is_admin %>
          <li class="<%= current_page?(admin_goods_path) ? 'active' : '' %>"><%= link_to t('layout.footer.admin_page'), admin_goods_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= I18n.locale == :ru ? 'active' : '' %>"><%= link_to("РУ", {locale: 'ru'}) %></li>
        <li class="<%= I18n.locale == :en ? 'active' : '' %>"><%= link_to("EN", {locale: 'en'}) %></li>
      </ul>
    </div>
  </div>
</nav>
