<!DOCTYPE html>
<html>
<head>
  <title>OnlineShop - Панель администратора</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "layouts/header" %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </div>

    <!--<%= link_to "Пользователи", admin_user_index_path %> | <%= link_to "Товары", admin_goods_path %> | <%= link_to "Выход", destroy_user_session_path %>-->

</body>
</html>
