<!DOCTYPE html>
<html>
<head>
  <title>OnlineShop - Панель администратора</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1> Онлайн магазин </h1>

    <%= link_to "Пользователи", admin_user_index_path %> | <%= link_to "Товары", admin_goods_path %> | <%= link_to "Выход", destroy_user_session_path %>
  </header>

  <div class='container'>
    <%= yield %>
  </div>

  <footer>
    <div>
      © OnlineShop & <%= link_to "Андрей Ерёмин, #{Time.now.year}", "http://aeremin.ru", target: '_blank' %>
    </div>
    <div>
      <%= link_to "Главная страница магазина", root_path %>
    </div>
  </footer>
</body>
</html>
