<!DOCTYPE html>
<html>
<head>
  <title>OnlineShop - интернет-магазин на Ruby On Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="languages-selector">
      <%= link_to("РУ", {locale: 'ru'}, {class: "#{I18n.locale == :ru ? 'active' : ''}"}) %> | <%= link_to("EN", {locale: 'en'}, {class: "#{I18n.locale == :en ? 'active' : ''}"}) %>
    </div>

    <h1> <%= t('layout.header.title') %> </h1>

    <div class="slogan">
      <%= t('layout.header.slogan') %>
    </div>
  </header>

  <div class='container'>
    <%= yield %>
  </div>

  <footer>
    <div>
      © OnlineShop & <%= link_to "Андрей Ерёмин, #{Time.now.year}", "http://aeremin.ru", target: '_blank' %>
    </div>
    <div>
      <% if current_user && current_user.is_admin %>
        <%= link_to t('layout.footer.admin_page'), admin_goods_path %> |
      <% end %>
      <%= link_to t('layout.footer.main_page'), root_path %>
    </div>
  </footer>
</body>
</html>
