<!DOCTYPE html>
<html>
<head>
  <title>OnlineShopRubyBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1> Онлайн магазин </h1>

  <div class="slogan">
    Добро пожаловать в наш интернет-магазин OnlineShop. Здесь вы найдете множество товаров для вас и ваших родных.
  </div>

  <%= yield %>

  <div class="footer">
    <div>
      © OnlineShop & <%= link_to "Андрей Ерёмин, #{Time.now.year}", "http://aeremin.ru" %>
    </div>
    <div>
      <%= link_to "Панель администратора", admin_goods_path %> | <%= link_to "Главная страница", root_path %>
  </div>
</body>
</html>
